@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 2rem 1.5rem;
}

.projects-gallery {
    .box-container {
        @include grid(33rem);
        .box {
            text-align: center;
            cursor: pointer;
            position: relative;
            display: block;
            img {
                width: 100%;
                height: 240px;
                display: block;
                transition: 0.3s;
            }
            .overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: .5s ease;
                background-color: #838e38e1;
                .text {
                    color: #fff;
                    font-size: 2.5rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    text-align: center;
                }
            }
            &:hover .overlay {
                opacity: 1;
            }
        }
    }
}

.twomo-profile {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3 {
        font-size: 2.5rem;
        color: #fff;
        font-weight: 300;
    }
}

@media screen and (max-width: 450px) {
    .projects-gallery {
        .heading {
            h2 {
                font-size: 2.8rem;
            }
        }
        .box-container {
            @include grid(25rem);
            .box {
                .overlay {
                    .text {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
    .twomo-profile {
        margin: 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h3 {
            font-size: 2rem;
            color: #fff;
            font-weight: 300;
        }
    }
}